body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #222;
    width: 100%;
    overflow-x: none;
    -webkit-overflow-scrolling: touch;
}
/* Panel  izquierdo */
.panel {
    box-shadow: none;
    display: block;
}


.banner-urgencias, .panel, .panel-group {
    margin-bottom: 8px;
}

.panel-default {
    border-color: #e8e8e8;
}
.panel {
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel, .panel-footer {
    background-color: #fff;
}

.panel-default>.panel-heading {
    color: #222;
    background-color: #fff;
    border-color: #e8e8e8;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading-alt {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff !important;
}
.panel-featured-top-heading::after, .panel-featured::after, .panel-heading-alt {
    background: -webkit-linear-gradient(45deg, #337ab7 0, #ff259d 100%);
    background: linear-gradient(45deg, #337ab7 0, #ff259d 100%);
}
.nav-header-featured, .panel-featured-top-heading::after, .panel-featured::after, .panel-heading-alt {
    background-color: #337ab7;
}
.featured-title, .panel-banner-title, .panel-featured-title, .panel-heading-alt, h1 {
    font-family: Nunito, sans-serif;
}
.panel-heading {
    padding: 8px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: #337ab7 #e8e8e8;
    height: 559px;
}



/* Panel derecho */

.nuevo-panel {
    border: solid 1px #f0f0f0 !important;
    border-radius: 5px !important;
    background-color: #FFFFFF;
}
.nuevo-panel>.accesos-principal, .nuevo-panel>.panel-body {
    border: none !important;
    border-radius: none !important;
    background-color: transparent !important;
}
.nuevo-panel>div>span {
    font-size: 16px !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding-bottom: 5px !important;
    color: #008080 !important;
    padding-top: 15px !important;
    margin-top: 2px;
    margin-bottom: 5px;
    display: block;
}

.list-group-item-link, .list-group-item-link:focus, .list-group-item-link:hover {
    color: #666;
    text-decoration: none;
}

#section-menu>.list-group-item:hover, #section-menu>a:hover, #submenu-1>a:hover, #submenu-2>a:hover, #submenu-3>a:hover, #submenu-4>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, #subenlacepcr:hover {
    text-decoration: none;
    color: #337ab7;
    border-left: 3px solid #337ab7 ;
    background-color: #f5f5f5;
}


/* guia  */

.breadcrumbs {
    padding: 12px 0;
    font-size: 11px;
    line-height: 1.4545;
    color: #666 !important;
}

.breadcrumbs ol {
    display: inline-flex;
    padding-left: 0;
}
ol, ul {
    margin-bottom: 11px;
}
dl, ol, ul {
    margin-top: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.breadcrumbs li {
    list-style: none;
}

.breadcrumbs a {
    color: #666;
    text-decoration: none
}

.breadcrumb-spacer {
    font-size: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
}

